label {
    color: "black";
}
#btn-create {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
}
#btn-join {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
}